.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-bottom: 2rem;
}
.btn:hover{
  transform: translateY(-3px);
  transition: .3s;
  animation-iteration-count: infinite;
}

.img {
  width: 50%;
  height: 25rem;
  margin-bottom: 2rem;
}